# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build / packaging
build/
dist/
*.egg-info/
wheels/

# Environment / secrets
.env
.env.*

# IDE
.idea/
.vscode/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db